.world_table tbody{
    display:block;
    overflow-y: scroll;
    height: 500px;
}

.world_table thead {
    display: block;
    background: white;
    color:black;
}

.world_table th, .world_table td {
    padding: 5px;
    text-align: left;
    width: 150px;
}

.world_table input {
    width: 18px;
    height: 18px;
}