.vietnam_table tbody{
  display:block;
  overflow-y: scroll;
  height: 500px;
}

.vietnam_table thead {
  display: block;
  background: gray;
  color:black;
}

.vietnam_table th, .vietnam_table td {
  padding: 5px;
  text-align: left;
  width: 150px;
}

.vietnam_table input {
  width: 18px;
  height: 18px;
}

.vietnam_table tr:nth-of-type(even) {
  background-color: #ebebeb;
}

.vietnam_search {
  padding: 15px 15px;
  text-align: center;
}

